#boxProductSaved {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 450px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #bababa;
    padding: 10px 15px;
    background: #fff;
    text-align: left;
    z-index: 11;
    line-height: 18px;
}

.dplvisiable {
    display: block;
}

#boxProductSaved .titlebox {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
    color: #23475e;
    font-family: 'Roboto Condensed'
}

#boxProductSaved .titlebox .hideAll {
    width: 15px;
    height: 14px;
    background: url('../images/hide.png') no-repeat 0 4px;
    display: block;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

#boxProductSaved .titlebox .showAll {
    width: 15px;
    height: 14px;
    background: url('../images/show.png') no-repeat 0 4px;
    display: block;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

#boxProductSaved .titlebox #deleteAll {
    width: 15px;
    height: 15px;
    background: url('../images/delete_all.png') no-repeat 0 0;
    display: block;
    float: right;
    cursor: pointer;
}

#boxProductSaved .listbox li span {
    width: 15px;
    height: 14px;
    background: url('../images/icon_cancel.png') no-repeat 0 3px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2px;
}

#boxProductSaved .listbox li {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%
}

#boxProductSaved .listbox li a {
    font: normal 14px/18px Tahoma;
    float: left;
    color: #424242;
    padding: 0 30px 0 0;
}

#boxProductSaved .listbox li a:hover {
    color: #006092;
}

.saved {
    width: 69px;
    height: 24px;
    background: #23475e;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    color: #fff;
    border-radius: 3px;
    float: right;
}
