.field {
    margin: 0;
    padding: 0;
}

.field-filter {
    margin: 0;
    padding: 1em 1em;
}

.field-filter-form-group-search {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.field-filter-form-group-search > img {
    height: 2em;
}

.field-filter-form-group-search > div {
    width: 100%;
    padding-left: 0.5em;
}

.field-filter-form-input-search {
    border-radius: 20px;
}

.field-filter-form-label {
    margin-bottom: 0.2em;
}

.field-hr {
    margin: 0;
}

.field-results {
    margin: 0;
    padding: 1em 1em;
}

.field-results-title {
    color: #4caf50;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3em;
}

.field-results-filter {
    text-align: right;
}

.field-results-list {
    padding: 1em 0;
}