.footer {
    /* display: none; */
}

.footer-header {
    padding: 1.5em 1em;
}

.footer-header-title {
    padding: 0.5em 0;
    text-align: center;
}

.footer-header-title > img {
    height: 2.5em;
}

.footer-header-title > span {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5em;
    margin-left: 0.2em;
}

.footer-header-title-sub {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em 0;
    text-transform: capitalize;
}

.footer-header-content {
    text-transform: capitalize;
    padding: 0.5em 0;
    text-align: center;
}

.footer-body {
    background-color: #4caf50;
    color: #fff;
    padding: 1.5em 1em;
}

.footer-body-item {
    padding-left: 1em;
}

.footer-body-title {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

.social-network {
    padding: 0.3em 0;
}

.social-network:hover {
    cursor: pointer;
}

.social-network-icon {
    width: 1.4em;
}

.social-network-title {
    padding-left: 0.5em;
    padding-top: 0.2em;
}
